{% extends 'base.html' %} {% block title%}Login{% endblock %} {% block content
%}

<div class="tile is-parent is-vertical">
  <article class="tile is-child has-text-centered box">
    <h1 class="title has-text-grey">Faça login para acessar seu dashboard</h1>
    <h1 class="subtitle has-text-grey">
      Inclua, altere e remova despesas, proventos e investimentos...
    </h1>
  </article>
  <!-- <article class="tile is-child">
    <figure class="image is-128x128">
      <img src="{{ url_for('static', filename='img/Men_invest_and_have_made_a_profit_generated.jpg') }}" class="is-rounded">
    </figure>
  </article> -->
</div>
<div class="tile is-parent is-4">
  <div class="tile is-child box">
    <div class="content block" x-data="validator">
      {% if has_reset %}
      <article class="message is-primary">
        <div class="message-body">
          Sua senha foi alterada com sucesso!
          <p>
            <a href="{{ url_for('webui.user.login') }}">Clique aqui</a> para fazer
            login
          </p>
        </div>
      </article>
      {% elif invalid_token %}
      <article class="message is-danger">
        <div class="message-body">
          Token inválido!
          <p>
            <a href="{{ url_for('webui.user.recover') }}">Clique aqui</a> para
            receber um novo link por email
          </p>
        </div>
      </article>
      {% else %}
      <form
        action="{{ url_for('webui.user.reset', token=reset_token) }}"
        method="post"
        @submit.prevent="submit"
      >
        <input type="hidden" name="token" value="{{ reset_token }}" />
        <div class="field">
          <label class="label">Nova senha</label>
          <div class="control">
            <input
              class="input"
              type="password"
              placeholder=""
              name="password"
              x-model="password.data"
              @blur="blur"
              :class="password.errored && 'is-danger'"
              data-rules='["required","string","minLength:6"]'
            />
            <p
              class="help is-danger"
              x-show="password.errored"
              x-text="password.helperMessage"
            ></p>
          </div>
        </div>
        <div class="field">
          <label class="label">Repita a nova senha</label>
          <div class="control">
            <input
              class="input"
              type="password"
              placeholder=""
              name="confirm_password"
              x-model="confirm_password.data"
              @blur="blur"
              :class="confirm_password.errored && 'is-danger'"
              ,
              data-rules='["required","string","minLength:6"]'
            />
            <p
              class="help is-danger"
              x-show="confirm_password.errored"
              x-text="confirm_password.helperMessage"
            ></p>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link">Enviar</button>
          </div>
        </div>
      </form>
      {% endif %}
    </div>
  </div>
</div>
<script>
  const localData = {
    password: {
      data: "",
      errored: false,
      helperMessage: "A senha precisa ter 6 ou mais caracteres",
    },
    retypedPassword: {
      data: "",
      errored: false,
      helperMessage: "As senhas devem ser iguais",
    },
    submit(e) {
      let inputs = [...this.$el.querySelectorAll("input[data-rules]")];
      inputs.map((input) => {
        this.validate(input);
      });

      if (this.hasError) return;

      if (this.password.data !== this.retypedPassword.data) {
        this.retypedPassword.errored = true;
        return;
      }

      e.target.submit();
    },
  };

  const alpineData = { ...alpineObjectBase, ...localData };

  document.addEventListener("alpine:init", () => {
    Alpine.data("validator", () => alpineData);
  });
</script>

{% endblock %}
